{{/*标准layout，是golang template的总样式，内容将会在这里展现。*/}}
<!DOCTYPE html>
<head>
    <title>Neboer's Boat - {{ current }}</title>
    <script src="/library/jquery-3.4.1.min.js"></script>
    <script src="/library/popper.min.js"></script>
    <script src="/library/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/library/bootstrap.min.css">
    {{ if eq current "existBlogEditor" "newBlogEditor" }}
        <link href="/library/quill.snow.css" rel="stylesheet">
        <script defer src="/library/katex.min.js"></script>
        <script src="/library/quill.min.js"></script>
        <link rel="stylesheet" href="/library/katex.min.css">
        <script src="/editor.js"></script>
    {{ end }}
</head>
<body>
<div class="w-75 m-auto">
    <header class="py-lg-2">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="text-center mx-auto">
                <h1 class="large-op" style="font-family: fantasy">Neboer's Boat</h1>
                <small>Neboer's blog isn't only about technique!</small>
            </div>
            <div class="position-absolute d-flex justify-content-end align-items-center" style="right: 13%">
                <a class="text-muted" href="#" aria-label="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                         stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
                         viewBox="0 0 24 24" focusable="false"><title>Search</title>
                        <circle cx="10.5" cy="10.5" r="7.5"/>
                        <path d="M21 21l-5.2-5.2"/>
                    </svg>
                </a>
            </div>
        </div>
    </header>


    <div class="nav-scroller py-1 mb-2">
        <ul class="nav nav-tabs flex-fill">
            <li class="nav-item flex-grow-1 text-center">
                <a class="nav-link {{ if eq current "home" }} active {{ end }}" href="/">主页</a>
            </li>
            <li class="nav-item flex-grow-1 text-center">
                <a class="nav-link {{ if eq current "newest" }} active {{ end }}" href="/newest">最新的</a>
            </li>
            <li class="nav-item flex-grow-1 text-center">
                <a class="nav-link {{ if eq current "sort" }} active {{ end }}" href="/sort">分类</a>
            </li>
            <li class="nav-item flex-grow-1 text-center">
                <a class="nav-link {{ if eq current "newBlogEditor" }} active {{ end }}" href="/editor">写博客</a>
            </li>
        </ul>
    </div>

    {{ yield }}

</div>
</body>
