{{ define "otherlib-newBlogEditor" }}
    <link href="/library/quill.snow.css" rel="stylesheet">
    <script defer src="/library/katex.min.js"></script>
    <script src="/library/quill.min.js"></script>
    <link rel="stylesheet" href="/library/katex.min.css">
    <script src="/editor.js"></script>
    <link href="blog.css" rel="stylesheet"/>
{{ end }}

<script>
    // 这个函数虽然没用，但是已经被调用到了，还是加上比较好。
    function SetQuillContent(quill_obj) {

    }

    function uploadCoverImage() {
        selectLocalImage((image) => saveToServer(image, (url) => $("#coverPictureURL").val(url)))
    }

    function newBlog() {
        // quill是全局对象，由var定义。
        let delta = quill.getContents();
        let uploadContent = {
            "blog_name": $("#blogName").val(),
            "cover_picture_url": $("#coverPictureURL").val(),
            "blog_delta_content": JSON.stringify(delta.ops)
        };
        $.post("/api/blog", JSON.stringify(uploadContent), (data) => {
            window.location.href = "/blog/" + data.blog_id
        })
    }


</script>

<label>
    <span>博客标题</span>
    <input id="blogName">
    <span>封面图片</span>
    <input id="coverPictureURL">
    <button class="btn btn-outline-dark" onclick="uploadCoverImage()">上传封面图片</button>
</label>

<div id="scrolling-container" style="height: 100%;min-height: 100%;overflow-y: auto;">
    <div class="h-50" id="editor" style="height: auto;min-height: 100%;"></div>
</div>
<button class="btn btn-primary float-right mt-md-3" id="submit" onclick="newBlog()">提交</button>
