{{/*博客的index页面*/}}
{{ range . }}

    <div class="row no-gutters border rounded overflow-hidden flex-md-row m-3 shadow-sm h-md-250 position-relative">
        <div class="col-9 p-4 d-flex flex-column position-static h-25">
            <h3 class="mb-0">{{ .BlogName }}</h3>
            <div class="mb-1 text-muted">{{ .CreateTimeString }}</div>
            <p class="card-text mb-auto">{{ .BlogBriefContent }}</p>
            <a href="/blog/{{ .BlogHexID }}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-3">
            <img src="{{ .CoverPictureURL }}" class="rounded mx-auto d-block position-absolute" alt="cover">
        </div>
    </div>

{{ end }}